name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Build
      run: cargo build --verbose
    - name: Run all tests
      run: cargo test --verbose --all
    - name: Run all targets tests
      run: cargo test --verbose --all-targets
    - name: Install mdBook
      run: cargo install mdbook
    - name: Build lib for book tests
      run: cargo build --lib
      env:
        CARGO_TARGET_DIR: target/book
    - name: Test book examples
      run: mdbook test book/ -L target/book/debug/deps
